/Penyewaan Kendaraan.zip
/PERHITUNGAN KEBUTUHAN PENERANGAN RUMAH TANGGA PADA LOSIK ELECTRONIC STORE.docx
/PERHITUNGAN KEBUTUHAN PENERANGAN RUMAH TANGGA PADA LOSIK ELECTRONIC STORE.pdf
/Perhitungan Lampu.py
/Perhitungan Lampu.zip
/program_master_2_rev.py
/Sistem Pencatatan Pemasukan dan Pengeluaran Barang pada Toko Bangunan LOSIK.docx